<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="sbt.eclipse.SbtClasspathContainerPage"
            id="sbt.eclipse.CLASSPATH_CONTAINER"
            name="SBT Dependency Library">
      </classpathContainerPage>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="sbt.eclipse.SbtClasspathContainerInitializer"
            id="sbt.eclipse.CLASSPATH_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
            id="sbt.eclipse.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="sbt.eclipse.menu"
               label="SBT"
               path="additions">
               <separator
                     name="separator1">
               </separator>
         </menu>
         <action
               class="sbt.eclipse.popup.actions.ConfigureSourceFoldersAction"
               enablesFor="1"
               id="sbt.eclipse.configureSourceFoldersAction"
               label="Configure source folders"
               menubarPath="sbt.eclipse.menu/separator1">
         </action>
         <action
               class="sbt.eclipse.popup.actions.HideLibManagedAction"
               enablesFor="1"
               id="sbt.eclipse.hideLibManagedAction"
               label="Hide lib_managed"
               menubarPath="sbt.eclipse.menu/separator1">
         </action>
         <visibility>
             <objectState
                   name="nature"
                   value="org.eclipse.jdt.core.javanature">
             </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.importWizards">
     <category id="org.eclipse.ui.Basic" name="General"/>
     <wizard
           id="sbt.eclipse.SbtImportWizard"
           class="sbt.eclipse.wizards.SbtImportWizard"
           category="org.eclipse.ui.Basic"
           name="Import a project that uses SBT">
     </wizard>
   </extension>
</plugin>
